<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>BCTrackingClass.bertrand-caron.com.github.BCTrackingClass</string>
	<key>CFBundleName</key>
	<string>BCTrackingClass Documentation</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	
	
	
	<key>DocSetFallbackURL</key>
	<string>https://github.com/bertrand-caron/BCTrackingClass/bertrand-caron</string>
	<key>DocSetFeedName</key>
	<string>BCTrackingClass Documentation</string>
	<key>DocSetFeedURL</key>
	<string>https://github.com/bertrand-caron/BCTrackingClass/bertrand-caron/bertrand-caron.atom</string>
	<key>DocSetMinimumXcodeVersion</key>
	<string>3.0</string>
	<key>DocSetPlatformFamily</key>
	<string>MacOSX</string>
	<key>DashDocSetFamily</key>
	<string>appledoc</string>
	<key>DocSetPublisherIdentifier</key>
	<string>BCTrackingClass.bertrand-caron.com.github.documentation</string>
	<key>DocSetPublisherName</key>
	<string>bertrand-caron</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 bertrand-caron. All rights reserved.</string>
</dict>
</plist>
